body{
    margin: 0;
    padding:0;
    overflow-x: hidden;
    box-sizing: border-box;
    height:100%;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display:flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    align-content: center;
    height:100vh;
    width:100%;
}

header  {
    display:flex;
    align-items: center;
    position:absolute;
    top: 0;
    left:0;
    justify-content:center;
    min-height:50px;
    max-height:120px;
    width: 100%;
    margin-bottom: 20px;
}

nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width:100%;
    height:80px;
    justify-content: space-between;
    position: relative;
    padding-left:67px;
    padding-right:20px;
}

.starBucksImage{
    background-size: cover;
    width:60px;
    margin-top:20px;
    height:60px;
    background-position: center;
}

ul  {
    display:flex;
    width:fit-content;
    padding:10px;
    margin-right:10px;
}

.list   {
    font-size: 15px;
    margin:25px;
    list-style: none;
    border-bottom: solid 0px black;
    cursor:pointer;
}

.list:hover{
    background: -webkit-linear-gradient(rgb(122, 105, 105), rgb(49, 44, 44));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-textWrapper{
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content:center;
    align-items:start;
    overflow: hidden;
    min-width:200px;
    max-width:550px;
    min-height:160px;
    max-height:fit-content;
    margin-left:38px;
    padding:20px;
    background-color: yellowgreen;
}

.starBucksH2  {
    margin:0px auto;
    font-size: 55px;
    line-height: 0px;
    font-weight:500;
    color:rgb(36, 36, 36);
    position:relative;
    width:100%;
    height:100%;
    color: #5e4c35;
}

#Starbucks{
    color:rgb(55, 100, 55);
    font-weight: 700;
    font-size:58px;
    font-size-adjust: 0.70;
}

.text{
    width:100%;
    text-justify: distribute;
    text-transform:capitalize;
    line-height: 23px;
    color: #53422b;
}

#greenCircleContainer{
    display:flex;
    position:absolute;
    flex-direction:row;
    justify-content: end;
    max-height:350px;
    width:100%;
}

#greenCircle    {
    position:relative;
    background: linear-gradient(to right, #003300 0%, #00cc66 100%);
    border-radius:100%;
    height:100%;
    width:300px;
    left:140px;
    
    
}

.cups{
    height: 70%;
}

/* so javascript will show only one. */

.cups:nth-child(1){
    display:flex;
}

.cups:nth-child(2){
    display:none;
    position:relative;
    left:30px;
    height:71%;
    rotate: -16deg;
    background-position: center;
    
}

.cups:nth-child(3){
    display:none;
}

#coffeeContainer    {
    display:flex;
    position:absolute;
    justify-content:center;
    align-items:flex-end;
    height:100px;
    width:100%;
    bottom:2%;
}
.smallCups{
    display:flex;
    flex-direction: row;
    margin-left:10px;
    justify-content: space-evenly;
    align-items: center;
    width:80px;
    height:80px;
}
.smallCups > button{
    border: black solid 1px;
    background-position: center;
    width:fit-content;
    height: fit-content;
}
.smallCups > button:hover{
    background-color:wheat;
}
.smallImage {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    object-fit: contain;
    text-decoration: none;
}

/*Media queries area*/

@media screen and (max-width: 1050px)   {
    #greenCircleContainer{
        display:flex;
        position:absolute;
        flex-direction:row;
        justify-content: end;
        width:100%;
        overflow:hidden;
        height:370px;
        
    }
    
    #greenCircle {
        background: linear-gradient(to right, #003300 0%, #00cc66 100%);
        border-radius: 50%;
        height: 100%;
        width: 330px; /* Set the width to the same as the height */
        position: relative;
        left: 150px;
        top: 0; /* Adjust top value as needed */
    }
    .title-textWrapper{
        display: flex;
        position:relative;
        flex-direction: column;
        justify-content:center;
        align-items:start;
        overflow: hidden;
        min-width:200px;
        max-width:400px;
        background-color: yellowgreen;
        min-height:160px;
        max-height:fit-content;
        margin-left:38px;
        padding:30px;
        font-size:20px;
        
        
    }
    .starBucksH2  {
        margin:0px auto;
        font-size: 35px;
        line-height: 0px;
        font-weight:500;
        color:rgb(36, 36, 36);
        position:relative;
        width:100%;
        height:100%;
        color: #5e4c35;
    }
    #Starbucks{
        color:rgb(55, 100, 55);
        font-weight: 700;
        font-size:45px;
    }
    .text{
        width:100%;
        padding-right:25px;
        padding-bottom:5px;
        font-size:12px;
        text-justify: distribute;
        text-transform:capitalize;
        line-height: 13px;
        color: #53422b;
        
    }
    .smallCups{
        display:flex;
        flex-direction: row;
        margin-right:15px;
        align-content: center;
        justify-content: space-evenly;
        width:40px;
        height:25px;
    }
    .smallCups > button{
        border: black solid 1px;
        background-position: center;
        width:fit-content;
        height: fit-content;
    }
    .smallCups > button:hover{
        background-color:wheat;
    }
    .smallImage {
        cursor: pointer;
        width:20px;
        height:30px;
        object-fit: contain;
        text-decoration: none;
    }
}
/*smaller */
@media screen and (max-width: 800px)   {
    header  {
        display:flex;
        align-items: center;
        position:absolute;
        top: 0;
        left:0;
        justify-content:center;
        min-height:50px;
        max-height:100px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    nav {
        display:flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        width:100%;
        height:100px;
        justify-content: space-between;
        position: relative;
        padding-left:7px;
        padding-right:10px;
    }
    .list{
        font-size:12px;
    }
    #greenCircleContainer{
        display:flex;
        position:absolute;
        flex-direction:row;
        justify-content: end;
        width:100%;
        overflow:hidden;
        height:330px;
        
    }
    
    #greenCircle {
        background: linear-gradient(to right, #003300 0%, #00cc66 100%);
        border-radius: 50%;
        height: 100%;
        width: 330px; /* Set the width to the same as the height */
        position: relative;
        left: 170px;
        top: 0; /* Adjust top value as needed */
    }
    .title-textWrapper{
        display: flex;
        position:relative;
        flex-direction: column;
        justify-content:center;
        align-items:start;
        overflow: hidden;
        min-width:200px;
        max-width:380px;
        min-height:130px;
        max-height:fit-content;
        margin-left:8px;
        padding:20px;
        background-color: yellowgreen;
        
    }
    .starBucksH2  {
        margin:0px auto;
        font-size: 30px;
        line-height: 0px;
        font-weight:500;
        color:rgb(36, 36, 36);
        position:relative;
        width:100%;
        height:100%;
        color: #5e4c35;
    }
    #Starbucks{
        color:rgb(55, 100, 55);
        font-weight: 700;
        font-size:43px;
    }
    .text{
        width:100%;
        padding-right:5px;
        padding-bottom:5px;
        font-size:13px;
        text-justify: distribute;
        text-transform:capitalize;
        line-height: 20px;
        color: #53422b;
    }
    #coffeeContainer{
        display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-height:50px;
        min-width:90px;
        
    }
    .smallCups{
        width:100%;
        height:100%;
    }
    .smallCups > button{
        border: black solid 1px;
        background-position: center;
        
    }
    .smallCups > button:hover{
        background-color:wheat;
    }
    .smallImage {
        cursor: pointer;
        width:20px;
        height:30px;
        object-fit: contain;
        text-decoration: none;
    }
}

@media screen and (min-width: 1900px)  {
    #greenCircleContainer{
        display:flex;
        position:absolute;
        flex-direction:row;
        justify-content: end;
        max-height:450px;
        width:100%;
    }
    
    #greenCircle    {
        position:relative;
        background: linear-gradient(to right, #003300 0%, #00cc66 100%);
        border-radius:100%;
        height:100%;
        width:500px;
        left:230px;
        
        
    }
}