body{
    margin: 0;
    padding:0;
    overflow-x:hidden;
    box-sizing: border-box;
    height:100%;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display:flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    align-content: center;
    height:100vh;
    width:100%;
}

header  {
    display:flex;
    align-items: center;
    position:absolute;
    top: 0;
    left:0;
    justify-content:center;
    min-height:50px;
    max-height:120px;
    width: 100%;
    margin-bottom: 20px;
}

nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width:100%;
    height:80px;
    justify-content: space-between;
    position: relative;
    padding-left:67px;
    padding-right:20px;
}

.starBucksImage{
    background-size: cover;
    width:60px;
    margin-top:20px;
    height:60px;
    background-position: center;
}

ul  {
    display:flex;
    width:fit-content;
    padding:10px;
    margin-right:10px;
}

.list   {
    font-size: 15px;
    margin:25px;
    list-style: none;
    border-bottom: solid 0px black;
    cursor:pointer;
}

.list:hover{
    background: -webkit-linear-gradient(rgb(41, 41, 42), rgb(181, 181, 181));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article{
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content:center;
    align-items:start;
    position:relative;
    overflow: hidden;
    min-width:550px;
    max-width:200px;
    min-height:360px;
    max-height:550px;
    height:420px;
    margin-left:50px;
    padding:10px;
    
}

.starBucksH2  {
    margin:0px auto;
    font-size: 55px;
    line-height: 0px;
    font-weight:500;
    color:rgb(36, 36, 36);
    position:relative;
    font-size-adjust: 0.65;
    width:100%;
    height:100%;
}

#Starbucks{
    color:rgb(55, 100, 55);
    font-weight: 700;
    font-size:58px;
    font-size-adjust: 0.70;
}

.text{
    width:50%;
    text-justify: distribute;
    text-transform:capitalize;
    line-height: 23px;
}

#greenCircleContainer{
    display:flex;
    position:fixed;
    right:-250px;
    top:185px;
    overflow:auto;
    align-items:center;
    min-height: 500px;
    max-height: 700px;
    min-width: 570px;
    max-width: 695px;
}

#greenCircle    {
    background-color: rgb(55, 100, 55);
    border-radius:100%;
    height:100%;
    width:100%;
    
}
.cups{
    max-height:500px;
    max-width:500px;
    object-fit: cover;
}
.cups:nth-child(1){
    display:flex;
    background-position: center;
    height:100%;
    rotate: 3deg;
}

.cups:nth-child(2){
    display:none;
    background-position: center;
    height:100%;
    rotate: 340deg;
}

.cups:nth-child(3){
    display:none;
    background-position: center;
    height:100%;
    rotate: 3deg;

}
#coffeeContainer    {
    display:flex;
    position:absolute;
    justify-content:center;
    align-items:flex-end;
    height:100px;
    width:100%;
    bottom:2%;
}
.smallCups{
    display:flex;
    flex-direction: row;
    margin-left:10px;
    justify-content: space-evenly;
    align-items: center;
    width:80px;
    height:80px;
}
.smallCups > button{
    border: none;
    background-size: contain;
    background-position: center;
    width:fit-content;
    height: fit-content;
}
.smallCups > button:hover{
    background-color:wheat;
}
.smallImage {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    text-decoration: none;
}

/*Media queries area*/

@media screen (min-width: 1050px){
    
}
@media screen(min-height: )
